@import compass/reset
@import 960/grid

body
  font-size: 14px
  font-family: Arial, Helvetica Neue
#container
  font-size: 0.9em
  +grid-system(12)
nav.pagination
  +grid-prefix(4,12)
  +grid(4,12)
  padding-bottom: 1em

#hits
  +grid(12,12)
  border-bottom: 1px solid #333
  thead
    th
      font-weight: bold
      text-transform: capitalize-
      text-align: center
    tr
      border-bottom: 2px solid #333
      border-top: 1px solid #333
      th
        padding: 1em 0
  td
    padding: 1em
    vertical-align: top
  tbody
    th
      padding-left: 0.5em
    tr.odd
      td, th
        background-color: #EEE
      th
        font-weight: bold