<!DOCTYPE html>
<html>
<head>
  <title>Shammes</title>
  <%= include_stylesheets :common, :media => 'all' %>
  <%= include_javascripts :app %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container">
    <%= yield %>
  </div>
</body>
</html>
